*{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body{
   display: flex;
   justify-content: center;
   text-align: center;
   height: 30px;
   background-color: #2A2F4F;
}

.do1{
	margin: 15px;
}
.c{
	width: 440px;
	float: left;
	margin: 11px;
	border: 3px #F7FFE5;
	border-radius: 10px;
}
.red{
	color: #E5BEEC;
}
h1{
	font-size: 45px;
   font-family: 'EB Garamond', serif;

}
p{
	font-size: 22px;
	font-family: 'Roboto Slab', serif;
	text-align: justify;
	justify-content: center;
}
.do2{
	margin: 17px;
   float: right;
   display: block;
}
.o{
	width: 400px;
	float: right;
	margin: 14px;
	border: 3px #F7FFE5;
	border-radius: 10px;
}
.blue{
	color: #E5BEEC;
}
.do3{
	margin: 15px;
	float: left;
	display: block;
}
.k{
	width: 400px;
	float: left;
	margin: 14px;
	border: 3px #F7FFE5;
	border-radius: 10px;
}
.green{
	color: #E5BEEC;
}
.do4{
	margin: 5px;
	float: left;
	display: block;
}
.q{
	width: 400px;
	float: left;
	margin: 14px;
	border: 3px #F7FFE5;
	border-radius: 10px;
}
.orange{
	color: #E5BEEC;
}
.do5{
	margin: 17px;
	float: right;
	display: block;
}
.v{
	width: 480px;
	float: right;
	margin: 14px;
	border: 3px #F7FFE5;
	border-radius: 10px;
}
.pink{
	color: #E5BEEC;
}
.do6{
	margin: 17px;
	float: right;
	display: block;
}
.z{
	width: 480px;
	float: right;
	margin: 14px;
	border: 3px #F7FFE5;
	border-radius: 10px;
}
.yellow{
	color: #E5BEEC;
}
/*footer section*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h3{
	font-size: 2em;
	margin-top: 50px;
	margin-bottom: 25px;
	color: #FDE2F3;
/*	font-weight: 1000;*/
}
h5{
	color: #FDE2F3;
}
.icons, .fa{
	color: black;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}
